:root {
  --color-black: #000000;
  --color-green: #34c94b;
}

.button {
  background-color: var(--color-black);
  color: var(--color-green);
  font-family: "Poppins", sans-serif;
  padding: 0.6rem 1.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.9;
}
