.searchWrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  width: 500px;
  height: 48px;
  border: 1px solid #ccc;
}

.searchInput {
  flex: 1;
  padding: 0 1rem;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
  background: #ffffff;
  border-left: 1px solid #ccc;
  cursor: pointer;
  color: #333;
}
